@model ForgetPasswordVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-5 mt-5 border border-4 p-4 rounded">
        <form method="post" asp-action="ForgetPassword">
            <!-- Heading -->
            <h3 class="text-center text-muted mb-2" style="font-size:20px;">Forgot Password?</h3>
            <hr />

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mt-3 mb-30">
                <input type="email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" asp-for="Email" />
                <label class="form-label" asp-for="Email">Email</label>
                <span asp-validation-for="Email" style="display: block; margin-top: 0.5rem; font-size: 0.9rem;  color: #dc3545;" class="invalid-feedback"></span>
            </div>

            <!-- Action buttons -->
            <div class="row">
                <div class="col-md-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="col-md-6 d-grid">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-warning btn-block text-light">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
}