@model LoginVM

@{
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

    <div class="tab-pane fade show active">
        <form asp-action="Login" asp-controller="Account" method="post" class="login-form">
            @* <div class="text-center mb-3">
                <p>Sign in with:</p>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>

            <p class="text-center">or:</p> *@

            <div asp-validation-summary="ModelOnly" class="alert-validation-summary" role="alert"></div>

            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mt-3 mb-30">
                <input type="email" id="email" class="form-control @(ViewData.ModelState["Email"]?.Errors.Count > 0 ? "is-invalid" : "")" asp-for="Email" />
                <label class="form-label" asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="invalid-feedback"></span>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-30">
                <input type="password" id="password" class="form-control @(ViewData.ModelState["Password"]?.Errors.Count > 0 ? "is-invalid" : "")" asp-for="Password" />
                <label class="form-label" asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="invalid-feedback"></span>
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
                <div class="col-md-6 d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-3 mb-md-0">
                        <input class="form-check-input" type="checkbox" value="" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe"> Remember me </label>
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <!-- Simple link -->
                    <a asp-action="ForgetPassword" asp-controller="Account">Forgot password?</a>
                </div>
            </div>

            <!-- Submit button -->
            <button id="btnLogin" type="submit" data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
            <p>Not a member? <a asp-action="Register" asp-controller="Account">Register</a></p>
            </div>
        </form>
    </div>
